[submodule "third-party/cglm"]
	path = third-party/cglm
	url = https://github.com/recp/cglm.git
[submodule "third-party/cJSON"]
	path = third-party/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = git@github.com:xwellauss/GLFW.git
	branch = android-support
[submodule "third-party/enet"]
	path = third-party/enet
	url = https://github.com/zpl-c/enet.git
[submodule "third-party/cgltf"]
	path = third-party/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "third-party/miniaudio"]
	path = third-party/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "third-party/clay"]
	path = third-party/clay
	url = git@github.com:xwellauss/clay.git
